/* IMPORTS. */

/*
IMPORTS - FONTS.
*/

/*
VARIABLES DECLARATION.
- variable's name MUST BEGIN with 2 dashes (--), and it's CASE SENSITIVE.
- Scopes:
    - Global scope: declare within ':root' selector.
    - Local scope: declare variable within specific selector, not in ':root'.
- Ref.: 'https://www.w3schools.com/css/css3_variables.asp'.
*/
:root {
    --font_size_default: 16px;                      /* Default web-browsers font-size: 'https://stackoverflow.com/questions/29511983/is-the-default-font-size-of-every-browser-16px-why/29512572#29512572'. */
    --colors_background: #0D1117;
    --colors_01: #F0AB3C;
    --colors_02: #F6F6F6;
    --colors_03: #000000;
    --fonts_default: system-ui, sans-serif;         /* Hierarchical list of fonts; from preferred, to fallback: 'https://www.w3schools.com/cssref/pr_font_font-family.php', 'https://developer.mozilla.org/en-US/docs/Web/CSS/font-family', 'https://www.w3schools.com/css/css_font_websafe.asp'. */
    --line_height_default: 1.5;
}

/* Universal changes for all tags / elements / classes */
* {
    /* Set proper dimensions for full page size: 'https://www.freecodecamp.org/news/html-page-width-height/'. */
    padding: 0;
    margin: 0;
    box-sizing: border-box;                         /* Set appropiate box-sizing: 'https://www.w3schools.com/css/css3_box-sizing.asp'. */
}

/* DEFAULT HTML TAGS. */

html {
    font-size: var(--font_size_default);            /* Recommended, explicit declaration: 'https://stackoverflow.com/questions/29511983/is-the-default-font-size-of-every-browser-16px-why/29512572#29512572'. */
    font-family: var(--fonts_default);
    line-height: var(--line_height_default);
}

body {
    background-color: var(--colors_background);
    color: var(--colors_02);
}

ul {
    padding: 10px 0px 0px 20px !important;          /* IMPORTANT: lists REQUIRE PADDING; therefore, need manual adjustment, if padding set GLOBALLY to 0; i.e. '* { padding: 0; }'. Ref.: 'https://stackoverflow.com/questions/72279264/unordered-list-not-showing-bullets/72281511#72281511', 'https://www.w3schools.com/css/css_important.asp'.*/
}

/* Use of 'media queries' to define layouts according to specific screen resolutions: 'https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_media_queries/Using_media_queries#targeting_media_features'. */
@media (width > 0px) {                              /* Base design, as starting point: e.g. for desktop, although recommended to start with mobile, 1st: 'https://stackoverflow.com/questions/6370690/media-queries-how-to-target-desktop-tablet-and-mobile/20350990#20350990'. */

    /* CUSTOM CLASSES. */

    .main-nav {
        background-color: var(--colors_03);
        /* position: sticky; */
        /* width: 100%; */
        /* top: 0; */
        /* left: 0; */
        /* z-index: 9999; */
    }

    .main-nav-header {
        display: flex;
        align-items: center;
        padding: 0.5rem 1rem;
    }

    .main-nav-header-logo {
        height: 30px;
        padding-right: 10px;
        /* font-size: 28px; */
        /* max-width: inherit; */
    }

    .main-nav-header-title {
        color: var(--colors_01);
        text-decoration-line: none;
        font-size: 1.5em;
        line-height: 2em;
        /* text-decoration: none; */
        /* text-decoration-style: initial; */
        /* text-decoration-color: initial; */
        /* font-weight: 400; */
        /* white-space: nowrap; */
    }

    .main-pyscript {
        margin: 0.5rem;
    }

}
